<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstactivity">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:label="Sayuri"
            android:name="com.example.myfirstactivity.MyFirstActivity">

            <!--意图筛选器-->
            <intent-filter>
                <!--意图筛选器的动作-->
                <action android:name="android.intent.action.MAIN"/> <!--MAIN表示这个Activity是App的入口点-->
                <!--意图筛选器的类别-->
                <category android:name="android.intent.category.LAUNCHER" /> <!--LAUNCHER表示该App可以从设备的启动器启动-->
            </intent-filter>
        </activity>
    </application>
</manifest>
